* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    background-color: #fff;
    font-size: 20px;
    color: rgb(53, 53, 53);
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(./img/3.jpg);
    background-size: cover;
    background-position: center;
}
.hero-text {
    color: #fff;
    font-size: 200%;
    text-align: left;
}